{% extends 'layouts/base.html' %} {% block title %}ATH - Create Employee{%
endblock %} {% block meta_description %}Arabian Tea House survey application{%
endblock %} {% block body %}
<div class="container-fluid">
  <div class="row justify-content-center align-items-center mt-4">
    <div class="col">
      <h3 class="m-0 font-weight-bold">New employee</h3>
    </div>
    </div>
    <div class="row my-5 mx-auto jumbotron p-auto">
      <div class="col">
        <form method="POST" id="createEmployeForm">
          {{ form.csrf_token }}
          <div class="row align-items-center">
            <!--  -->
            <div class="col-sm-auto col-md-3">
              {{ form.name.label(class="form-label font-weight-bold
              float-md-right") }}
            </div>

            <div class="col-sm-auto col-md-7">
              <div class="form-group">
                {{ form.name(class_="form-control")}}
              </div>
            </div>
          </div>

          <!--  -->
          <!--  -->
          <div class="row align-items-center">
            <div class="col-sm-auto col-md-3">
              {{ form.gender.label(class="form-label font-weight-bold
              float-md-right mt-2") }}
            </div>

            <div class="col-sm-auto col-md-7">
              <div class="form-group">
                {{ form.gender(class_="form-control form-select form-select-sm
                selectpicker w-100")}}
              </div>
            </div>
          </div>

          <!--  -->
          <div class="row align-items-center">
            <div class="col-sm-auto col-md-3">
              {{ form.code.label(class="form-label font-weight-bold float-md-right
              mt-2") }}
            </div>

            <div class="col-sm-auto col-md-7">
              <div class="form-group">
                {{ form.code(class_="form-control")}}
              </div>
            </div>
          </div>

          <!--  -->
          <div class="row align-items-center">
            <div class="col-sm-auto col-md-3">
              {{ form.designation.label(class="form-label font-weight-bold
              float-md-right") }}
            </div>

            <div class="col-sm-auto col-md-7">
              <div class="form-group">
                {{ form.designation(class_="form-control")}}
              </div>
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col-sm-auto col-md-3">
              {{ form.branch.label(class="form-label font-weight-bold
              float-md-right") }}
            </div>

            <div class="col-sm-auto col-md-7">
              <div class="form-group">
                {{ form.branch(class_="form-control form-select form-select-sm
                selectpicker w-100")}}
              </div>
            </div>
          </div>

          <!--  -->

          <div class="mt-4 text-center">


            <a
              href="{{ url_for('employee_page.employee_index') }}"
              class="btn btn-secondary font-weight-bold"
              >Cancel</a
            >
            <button
            type="submit"
            class="btn btn-info mr-2 font-weight-bold"
            id="saveEmployeeBtn"
          >
          <div
          class="spinner-border spinner-border-sm text-white mr-1"
          id="saveEmployeeSpinner"
          role="status"
          style="display: none"
        >
          <span class="sr-only">Loading...</span>
        </div>
        <span>Save</span>
          </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
