{% extends 'layouts/base.html' %} {% block title %}ATH - Employees{% endblock %}
{% block meta_description %}Arabian Tea House survey application{% endblock %}
{% block body %}
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-6">
      <h1 class="m-0 font-weight-bold">Employees</h1>
    </div>
    <div class="col-6">
      <a
        href="{{url_for('employee_page.create_employee')}}"
        class="btn btn-info float-right mr-2"
        >Create employee</a
      >
    </div>
  </div>

  <div class="row mt-5 jumbotron">
    <div class="col-12">
      <table class="table table-hover" id="employeesTable">
        <thead>
          <tr>
            <th scope="col">Employee Name</th>
            <th scope="col">Code</th>
            <th scope="col">Designation</th>
            <th scope="col">Branch</th>
            <th scope="col">No. of Surveys</th>

          </tr>
        </thead>
        <tbody>
          {% for employee in employees %}
          <tr class="clickable-row" data-href="{{ employee.id }}" data-surveyid="{{employee.id}}">
            <td>{{ employee.name }}</td>
            <td>{{ employee.code }}</td>
            <td>{{ employee.designation }}</td>
            <td>{{ employee.branch.name }}</td>
            <td>{{ employee.responses | length }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
