{% extends 'layouts/base.html' %} {% block title %}ATH - Branches{% endblock %}
{% block meta_description %}Arabian Tea House survey application{% endblock %}
{% block body %}
<div class="container-fluid">
  <div class="row justify-content-center align-items-center mt-4">
    <div class="col">
      <h3 class="m-0 font-weight-bold">Create User</h3>
    </div>
  </div>
  <div class="row my-5 mx-auto jumbotron p-auto">
    <div class="col">
      {% with messages = get_flashed_messages() %} {% if messages %}
      <div class="alert alert-danger" role="alert">{{ messages[0] }}</div>
      {% endif %} {% endwith %}
      <form method="POST">
        {{ form.csrf_token }}

        <div class="row align-items-center">
          <div class="col-sm-auto col-md-3">
            {{ form.name.label(class_="form-label font-weight-bold
            float-md-right") }}
          </div>

          <div class="col-sm-auto col-md-7">
            <div class="form-group">{{ form.name(class_="form-control")}}</div>
          </div>
        </div>

        <!--  -->
        <div class="row align-items-center">
          <div class="col-sm-auto col-md-3">
            {{ form.email.label(class_="form-label font-weight-bold
            float-md-right") }}
          </div>

          <div class="col-sm-auto col-md-7">
            <div class="form-group">{{ form.email(class_="form-control")}}</div>
          </div>
        </div>

        <!--  -->

        <!--  -->
        <div class="row align-items-center">
          <div class="col-sm-auto col-md-3">
            {{ form.password.label(class_="form-label font-weight-bold
            float-md-right") }}
          </div>

          <div class="col-sm-auto col-md-7">
            <div class="form-group">
              {{ form.password(class_="form-control")}}
            </div>
          </div>
        </div>
        <!--  -->

        <div class="row align-items-center">
          <div class="col-sm-auto col-md-3">
            {{ form.is_admin.label(class_="form-check-label font-weight-bold
            float-md-right") }}
          </div>

          <div class="col-sm-auto col-md-7">
            <div class="form-group">
              <div class="form-check">
                {{ form.is_admin(class_="form-check-input")}}
              </div>
            </div>
          </div>
        </div>

        <!--  -->

        <div class="mt-4 text-center">
          <a
            href="{{ url_for('auth_page.users_index') }}"
            class="btn btn-secondary font-weight-bold"
            >Cancel</a
          >
          <button type="submit" class="btn btn-info font-weight-bold">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock%}
