{% extends 'layouts/base.html' %} {% block title %}ATH - Create Survey{%
endblock %} {% block meta_description %}Arabian Tea House survey application{%
endblock %} {% block body %}
<div class="container-fluid">
  <div class="row justify-content-center align-items-center mt-4">
    <div class="col">
      <h3 class="m-0 font-weight-bold">New survey</h3>
    </div>
    </div>
    <div class="row my-5 mx-auto jumbotron p-auto">
      <div class="col">
        <form method="POST" id="conductSurveyForm">
          {{ form.csrf_token }}
          <div class="row align-items-center">
            <!--  -->
            <div class="col-sm-auto col-md-3">
              {{form.name.label(class_="form-label font-weight-bold float-md-right")}}
            </div>

            <div class="col-sm-auto col-md-7">
              <div class="form-group">{{form.name(class_="form-control")}}</div>
            </div>
            <!--  -->
          </div>
          <div class="row align-items-center">
            <div class="col-sm-auto col-md-3">
              {{form.description.label(class_="form-label font-weight-bold float-md-right")}}
            </div>

            <div class="col-sm-auto col-md-7">
              <div class="form-group">
                {{form.description(class_="form-control")}}
              </div>
            </div>

          </div>
          <!--  -->
          <div class="mt-4 text-center">
            
            <a
              href="{{ url_for('survey_page.survey_index') }}"
              class="btn btn-secondary font-weight-bold"
              >Cancel</a
            >
            <button
              type="submit"
              class="btn btn-info mr-2 font-weight-bold"
            >
              Save
            </button>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
