{% extends 'layouts/base.html' %} {% block title %}ATH - Survey{% endblock %} {%
block meta_description %}Arabian Tea House survey application{% endblock %} {%
block body %}
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-12" data-surveyid="{{ survey.id }}">
      <h1 class="m-0 font-weight-bold">{{ survey.name }}</h1>
      <p class="text-muted mt-3">{{ survey.description }}</p>
    </div>
  </div>

  <div class="row mt-5 align-items-center">
    <div class="col-6">
      <h5 class="font-weight-bold m-0">Questions</h5>
       
    </div>

    <div class="col-6">
      <button type="button" class="btn btn-primary float-right font-weight-bold" data-toggle="modal" data-target="#questionFormModal">Add Category</button>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <div class="jumbotron py-2">
        {% for question_type in survey.question_types %}
        <div class="d-flex">
          <h2 class="font-weight-bold my-5 mr-5">{{question_type.description}}</h2>
          <button class="btn btn-dark btn-sm my-auto font-weight-bold">Add Question</button>
        </div>

        {% for question in question_type.questions %}
          <div class="row p-3">
            <div class="col-4">
              <span class="font-weight-bold">{{ question.description }}</span>
              <span class="text-muted small">(description)</span>
            </div>
            <div class="col-4">
              <span class="font-weight-bold col-4">{{question.is_required}}</span>
              <span class="text-muted small">(required)</span>
            </div>
            <div class="col-4">
              <span class="font-weight-bold col-4">{{question.choice.value}}</span>
              <span class="text-muted small">(no. ratings)</span>
            </div>
          </div> 
        {% endfor %}
      </ul>
      {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="questionFormModal" tabindex="-1" role="dialog" aria-labelledby="questionFormModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="surveyCategoryForm">

      <div class="modal-header">
        <h5 class="modal-title font-weight-bold">New survey category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="Description">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-sm" id="saveSurveyCategoryBtn">Save</button>
      </div>
    </form>

    </div>
  </div>
</div>
{% endblock %}
